@use "./index.scss" as *;

:root {
   /*===============================================
	①liquid design
	===============================================*/
   --liquid-lgDesignRatio: #{$lg-design-width};
   --liquid-mdDesignRatio: #{$md-design-width};
   --liquid-smDesignRatio: #{$sm-design-width};
   --liquid-htmlroot: calc(100vw / var(--liquid-lgDesignRatio));
   --liquid-bodyroot: 16rem;

   @include mq(md) {
      --liquid-htmlroot: calc(100vw / var(--liquid-mdDesignRatio));
   }

   @include mq(sm) {
      --liquid-htmlroot: calc(100vw / var(--liquid-smDesignRatio));
   }

   /*===============================================
	②solid design
	===============================================*/
   --solid-root: 16px;

   /*===============================================
	③mobilefirst design
	===============================================*/
   --mobile-DesignWidth: #{$mobile-design-width};
   --mobile-ContentsWidth: #{$mobile-design-width};
   --mobile-ContentsRatio: var(--mobile-ContentsWidth) /
      var(--mobile-DesignWidth);
   --mobile-root: min(
      16px * var(--mobile-ContentsRatio),
      16 * 100 / var(--mobile-DesignWidth) * 1vw
   );

   /*===============================================
	css vars
	===============================================*/
   --z-index-header: 9999;
   --z-index-menu: 10000;
   --z-index-menuButton: 10001;
   --header-height: 80rem;
}

/*===============================================
html body
===============================================*/

* {
   padding: 0;
   margin: 0;
}

html,
body {
   max-width: 100vw;
}

body {
   background-color: $color-bg;
   color: $color-txt;
   line-height: $leading-none;
   transition: opacity #{$duration-standardAccelerate + "s"} ease-in-out;
   font-style: normal;
   font-weight: normal;
   overflow-wrap: break-word;
   font-feature-settings: "palt";
   letter-spacing: 0;
   overscroll-behavior-y: none;
}

html {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   scroll-behavior: auto;
   scrollbar-gutter: stable;
   user-select: none;
   // Disabling pinch improves performance in WebGL projects.
   touch-action: pan-x pan-y;

   //liquid
   @if $designRoot==1 {
      font-size: var(--liquid-htmlroot);

      body {
         font-size: var(--liquid-bodyroot);
      }
   }

   //solid
   @else if $designRoot==2 {
      font-size: var(--solid-root);
   }

   //mobile
   @else if $designRoot==3 {
      font-size: var(--mobile-root);
   }
}

//set opacity to 1 after font is loaded
html.fonts-loaded body {
   opacity: 1 !important;
}

/*===============================================
UI
===============================================*/
a,
button {
   display: block;
   border: none;
   outline: none;
   text-decoration: none;
   background: none;
   > * {
      pointer-events: none;
   }

   &:focus:not(:fous-visible) {
      outline: none;
   }

   img {
      border: none;
   }
}

a,
button,
input,
label,
textarea,
select {
   color: inherit;
   pointer-events: auto;
   cursor: pointer;
   @media (hover: none) {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   }

   &:focus-visible {
      outline: $color-key solid 2px;

      @media (hover: none) {
         outline: none;
      }
   }
}

img {
   border: 0;
   height: auto;
   pointer-events: none;
   vertical-align: middle;
   width: 100%;
}

picture {
   display: block;
}

iframe {
   width: 100%;
}

ul,
ol,
li {
   list-style: none;
}

svg {
   overflow: visible;
}

/*===============================================
br
===============================================*/
br {
   &.lg {
      @include mq(md) {
         display: none;
      }
   }
   &.lgmd {
      @include mq(sm) {
         display: none;
      }
   }
   &.mdsm {
      display: none;
      @include mq(md) {
         display: block;
      }
   }
   &.md {
      display: none;
      @include mq(md) {
         display: block;
      }
      @include mq(sm) {
         display: none;
      }
   }
   &.sm {
      display: none;
      @include mq(sm) {
         display: block;
      }
   }
}

/*===============================================
gui
===============================================*/
.lil-gui {
   right: 0 !important;
}
