

.node {
    background-color: #333;
    border-radius: .4rem;
    min-width: 18rem;
    overflow: hidden;
    color: #fff;
}

.nodeHead {    
    background-color: #B84F0A;
    padding: .3rem 1rem;
}

.nodeSide {
    background-color: #222;    
    height: 100%;
    min-height: 10rem;
}

.nodeBody {
    display: grid;
    grid-template-columns: 2.4rem 1fr;    
}