.canvas {
   width: 100%;
   height: 100svh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
}

.wrapper {
   width: 100%;
   height: 100svh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   width: fit-content;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   pointer-events: none;
   overflow: hidden;
   mix-blend-mode: difference;
   color: white;
}

.title {
   font-size: 40px;
   font-weight: 500;
   @media (max-width: 560px) {
      font-size: 9vw;
   }
}

.install {
   font-size: 16px;
   pointer-events: auto;
   cursor: pointer;
   display: flex;
   align-items: baseline;
   gap: 8px;
   background-color: rgba(255, 255, 255, 0.24);
   padding: 6px;
   width: 100%;
   text-align: center;
   justify-content: center;
   border-radius: 100vh;
   &.copied {
      pointer-events: none;
      opacity: 0.24;
   }
}

.input {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   font-size: 12px;
   margin-top: 16px;
   p {
      width: 64px;
   }
   input,
   select {
      border-bottom: 1px solid white;
      pointer-events: auto;
      cursor: pointer;
      width: 160px;
      text-align: center;
      font-size: 16px;
      @media (max-width: 560px) {
         text-align: left;
         padding: 0 16px;
         width: 120px;
      }
   }
}
