.container {
   position: fixed;
   width: 100%;
   height: 100svh;
   top: 0;
   pointer-events: none;
   user-select: none;
}

.cursor {
   position: absolute;
   top: 0;
   left: 0;
   width: 160px;
   height: 160px;
   z-index: 10;
   img {
      display: block;
      object-fit: contain;
   }
}

.confettiContainer {
   position: absolute;
   top: 0;
   left: 0;
   width: 16vh;
   height: 16vh;
   z-index: 9;
}
.confetti {
   width: 50%;
   height: 50%;
   position: absolute;
   z-index: 1;
   filter: brightness(1.4);
   img {
      display: block;
      object-fit: contain;
   }
}
