.wrapper {
   position: relative;
   &:not(:last-child) {
      margin-right: 12px;
   }
}
.fileInput {
   display: none;
}

.label {
   width: 120px;
   height: 120px;
   display: block;
   cursor: pointer;
}

.bg {
   border: 4px solid #000;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   pointer-events: none;
   p {
      position: absolute;
      font-size: 14px;
      bottom: 0;
      right: 0;
      background-color: #000;
      color: #fff;
      padding: 2px 8px;
   }
   img {
      object-fit: cover;
   }
}
