.switch_btn {
   width: 40px;
   height: 40px;
   font-size: 16px;
   text-align: center;
   background-color: #000;
   color: #fff;
   cursor: pointer;
   &:not(:first-child) {
      margin-left: 8px;
   }
   &:hover {
      opacity: 0.6;
   }
}
